.solid-flow__zoom {
  z-index: 4;
}

.solid-flow__viewport {
  transform-origin: 0 0;
  z-index: 2;
  pointer-events: none;
}

.solid-flow__viewport-portal {
  user-select: none;
}

.solid-flow__pane {
  z-index: 1;

  &.draggable {
    cursor: grab;
  }

  &.dragging {
    cursor: grabbing;
  }

  &.selection {
    cursor: pointer;
  }
}

.solid-flow__panel {
  position: absolute;
  z-index: 5;
  margin: 15px;

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }
}

.solid-flow__nodes {
  z-index: 0;
  pointer-events: none;
  transform-origin: 0 0;
}
