.solid-flow__selection-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  pointer-events: all;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.solid-flow__selection {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}
