/* Container Styles */
@import "../components/container/styles.css";
@import "../components/accessibility/styles.css";

/* Graph Styles */
@import "../components/graph/connection/styles.css";
@import "../components/graph/edge/styles.css";
@import "../components/graph/handle/styles.css";
@import "../components/graph/node/styles.css";
@import "../components/graph/plugins/background/styles.css";
@import "../components/graph/plugins/controls/styles.css";
@import "../components/graph/plugins/minimap/styles.css";
@import "../components/graph/plugins/nodeResizer/styles.css";
@import "../components/graph/selection/styles.css";

/* Utility Styles */
@import "../components/utility/styles.css";

.solid-flow__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.solid-flow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;

  background-color: var(--xy-background-color, var(--xy-background-color-default));
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
}
