.solid-flow {
  --xy-connectionline-stroke-default: #b1b1b7;
  --xy-connectionline-stroke-width-default: 1;
}

.solid-flow.dark {
  --xy-connectionline-stroke-default: #b1b1b7;
  --xy-connectionline-stroke-width-default: 1;
}

connectionline {
  z-index: 1001;
  overflow: visible;
  position: absolute;
}

.solid-flow__connection {
  pointer-events: none;

  .animated {
    stroke-dasharray: 5;
    animation: dashdraw 0.5s linear infinite;
  }
}

.solid-flow__connection-path {
  fill: none;
  stroke: var(--xy-connectionline-stroke, var(--xy-connectionline-stroke-default));
  stroke-width: var(
    --xy-connectionline-stroke-width,
    var(--xy-connectionline-stroke-width-default)
  );
}
