.solid-flow__node {
  position: absolute;
  user-select: none;
  pointer-events: all;
  transform-origin: 0 0;
  box-sizing: border-box;
  cursor: default;

  &.selectable {
    cursor: pointer;
  }

  &.draggable {
    cursor: grab;
    pointer-events: all;

    &.dragging {
      cursor: grabbing;
    }
  }

  /* TODO: Verify this class */
  &.parent {
    background-color: rgba(220, 220, 255, 0.4);
  }
}
